$gray-base:              #6C256F;
$gray-darker:            #360037;
$gray-dark:              #510E53;   // #333
$gray:                   #AB9FAC; // #555
$gray-light:             #BEB6BB; // #777
$gray-lighter:           #B9C8CD; // #eee

/*
   font
------------------*/
* {
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  @media only screen and (max-width: 880px) {

  }
}

@font-face {
  font-family: 'eutemia_ornamentsregular';
  src: url('eutemia_ornaments-webfont.woff2') format('woff2'),
  url('eutemia_ornaments-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
  color: $gray-dark;
  font-style: normal;
  font-weight: normal;
}


p {
  color: $gray-light;
}

a {
  text-decoration: none;
  color: $gray;
}

.ornamental {
  font-family: 'eutemia_ornamentsregular';
  color: $gray-darker;
}

.out-now {
  margin: 0 auto;
  display: block;
  background-image:
  linear-gradient(
                  $gray, $gray-darker
  );
  width: 75%;
  height: 51em;
  max-height: 51em;
  text-align: center;
  @media only screen and (max-width: 880px) {
    height: auto;
    max-height: none;
  }
}

.newsletter {
  margin: 0 auto;
  background-image:
  linear-gradient(

                  $gray, $gray-darker
  );

  width: 75%;
  text-align: center;
}

/* side bar */

.right-nav, .promo-bar {
  padding: 2%;
  display: inline-block;
  height: auto;
  max-height: 100%;
  text-align: center;
  .promo-footer {
    display: inline-block;
  }
  .promo {
    //border: $gray 3px solid;
    width: 90%;
    padding: 1%;
    margin: 1%;
    float: right;
    display: inline-block;
    .promo-img {
      img {
        max-width:95%;
        max-height: 95%;
        height: auto;
        margin: 0 auto;
      }
    }
    .promo-text {
      text-align: center;
      line-height: inherit;
      //float: left;
      display: block;
    }
  }
}


.header {
  .header-text {
    color: $gray-light;
    font-size: 30px;
    @media only screen and (max-width: 880px) {
      font-size: 18px;
    }
    text-align: center;
    h1 {
      font-size: 70px;
      @media only screen and (max-width: 880px) {
        font-size: 26px;
      }
    }
    p {
      color: $gray;
    }
  }
}

.divider {
  width: 100%;
  height: 2em;
  background-image:
  linear-gradient(
                  to right,
                  $gray-darker, $gray
  );
}

footer {
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
  p {
    color: $gray;
    text-align: center;
  }
}

/* main */

.landing-bio {
  margin: 3%;
  padding: 2%;
  .landing-bio-text {
    margin: 7%;
  }
}

.article {
  margin: 5%;
  .article--title a, h1 {
    font-family: 'PT Serif', serif;
    color: $gray-base;
  }

  .article--date {
    color: $gray-darker;
    font-size: 1.5em;
  }

  .article--text {
    font-size: 1.75em;
    padding: 1%;
    p {
      color: $gray-darker;
      a {
        text-decoration: underline;
        color: $gray-dark;
      }
    }
  }
}

.pure-button {
  color: $gray;
  background: $gray-darker;
  margin: 2%  0;
}

