/*
   Desktop
------------------*/


@media only screen and (min-width: 880px) {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  p {
    color: $gray
  }

  a {
    text-decoration: none;
    color: $gray-darker;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $gray;
  }

  /* left nav */

  .left-nav {
    width: 20%;
    height: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: $gray-lighter;
    float: left;
    display: inline-block;
    position: fixed;
  }

  .header-image {
    max-width: 75%;
    width: auto;
    height: auto;
    margin-left: 12.5%;
    overflow:hidden;
    display: inline-block;
  }

  .header-image img {
    max-width:100%;
    max-height:100%;
    margin:auto;
    display:block;
  }
  .left-nav-links {

  }

  .left-nav-links ul {
    list-style-type: none;
    padding: 1.5%;
    font-size: 2em;
    text-align: center;

  }

  /* footer */
  .copyright {
    font-size: 1em;
  }

  /* main */

  .blog-body {
    float: left;
    display: inline-block;
    margin-left: 25%;
    width: 45%;
    padding: 2.5%;
  }

  .article {
    border-bottom:  $gray-darker 5px;
  }

  .article--title {

  }

  .article--date {

  }

  .article--text {

  }

  /* side bar */

  .right-nav {
    float: left;
    width: 25%;
    display: inline-block;
  }

  .right-nav--title {

  }

  .right-nav--contents {

  }

  .recent-posts {

  }

  .elsewhere {

  }

  .by-year {

  }

  .tags {

  }
}


/*
   Tablets
------------------*/

/*
   Smartphones
------------------*/