/*
   font
------------------*/
/* line 11, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
* {
  font-family: 'Lato', sans-serif; }

/* line 14, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif; }

/*
   Desktop
------------------*/
@media only screen and (min-width: 880px) {
  /* line 24, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

  /* line 29, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  p {
    color: #BEB6BB; }

  /* line 33, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  a {
    text-decoration: none;
    color: #AB9FAC; }

  /* line 38, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  h1, h2, h3, h4, h5, h6 {
    color: #510E53; }

  /* line 43, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  header {
    display: none; }

  /* left nav */
  /* line 48, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .left-nav {
    width: 20%;
    height: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: #360037;
    float: left;
    display: inline-block;
    position: fixed; }

  /* line 59, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .header-image {
    max-width: 75%;
    width: auto;
    height: auto;
    margin-left: 12.5%;
    margin-top: 7%;
    overflow: hidden;
    display: inline-block; }

  /* line 69, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .header-text {
    margin-left: 12.5%;
    color: #BEB6BB; }

  /* line 74, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .header-text p {
    color: #AB9FAC; }

  /* line 78, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .header-image img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    border: #BF5FFF 3px solid; }

  /* line 90, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .left-nav-links ul {
    list-style-type: none;
    padding-top: 2.5%;
    font-size: 2em;
    padding-left: 12.5%; }

  /* footer */
  /* line 99, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .copyright {
    font-size: 1em;
    margin-left: 12.5%;
    position: absolute;
    bottom: 2%; }

  /* line 106, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .copyright p {
    color: #AB9FAC; }

  /* main */
  /* line 112, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .blog-body {
    float: left;
    display: inline-block;
    margin-left: 25%;
    width: 50%;
    padding: 2.5%; }

  /* line 120, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .article {
    box-shadow: 0px 2px #510E53;
    border-radius: 2%;
    padding-bottom: 1%;
    padding-top: 2%; }

  /* line 127, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .article--title a, h1 {
    font-family: 'PT Serif', serif;
    color: #6C256F; }

  /* line 132, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .article--date {
    color: #360037;
    font-size: 1.5em; }

  /* line 137, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .article--text {
    font-size: 1.75em;
    padding: 1%; }
    /* line 141, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
    .article--text p a {
      text-decoration: underline;
      color: #360037; }

  /* side bar */
  /* TODO: For some reason when clicking on year or tags, it does not display properly, so display: none for now */
  /* line 152, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .right-nav {
    float: left;
    padding: 2%;
    width: 25%;
    display: inline-block;
    text-align: center; }
    /* line 158, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
    .right-nav .promo-footer {
      display: inline-block; }
    /* line 161, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
    .right-nav .promo {
      border: #AB9FAC 3px solid;
      width: 90%;
      padding: 1%;
      margin: 1%;
      float: right;
      display: inline-block; }
      /* line 169, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
      .right-nav .promo .promo-img img {
        max-width: 95%;
        max-height: 95%;
        height: auto;
        margin: 0 auto; }
      /* line 176, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
      .right-nav .promo .promo-text {
        text-align: center;
        line-height: inherit;
        float: left;
        display: block; }

  /* line 185, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .mobile-nav {
    display: none; }

  /* line 188, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .slicknav_menu {
    display: none; }

  /* line 192, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .mobile_links {
    display: none; } }
/*
   Tablets
------------------*/
/*
   Smartphones
------------------*/
@media only screen and (max-width: 880px) {
  /* line 205, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #B9C8CD; }

  /* line 211, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  p {
    color: #510E53; }

  /* line 215, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  a {
    text-decoration: none;
    color: #510E53; }

  /* line 220, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  h1, h2, h3, h4, h5, h6 {
    color: #AB9FAC; }

  /* mobile navigation */
  /* line 227, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .js #primary_nav {
    display: none; }

  /* line 231, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  #primary_nav {
    display: none; }

  /* line 235, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .js .slicknav_menu {
    display: block; }

  /* left nav */
  /* line 241, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .left-nav {
    display: none; }

  /* line 245, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .header-image {
    display: none; }

  /* line 249, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .header-text {
    display: none; }

  /* line 253, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .header-text p {
    display: none; }

  /* line 257, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .header-image img {
    display: none; }

  /* line 262, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .left-nav-links ul {
    list-style-type: none;
    font-size: 2em; }

  /* line 267, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .mobile_links {
    position: relative;
    padding: 5%;
    display: inline-block;
    float: left; }

  /* line 274, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .mobile_links a {
    padding-top: 5%;
    padding-left: 2.5%;
    display: block; }

  /* line 280, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .mobile_img {
    max-width: 100%; }

  /* line 285, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .mobile_img img {
    max-width: 55%;
    max-height: 55%;
    width: 50%;
    height: auto;
    display: inline-block;
    float: left;
    padding-right: 5%; }

  /* footer */
  /* line 297, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .copyright {
    font-size: 1em;
    margin-left: 12.5%;
    position: absolute;
    bottom: 2%; }

  /* line 304, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .copyright p {
    color: #AB9FAC; }

  /* main */
  /* line 310, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .blog-body {
    float: left;
    display: inline-block;
    width: 100%;
    padding: 2.5%; }

  /* line 317, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .article {
    box-shadow: 0px 2px #360037;
    border-radius: 2%;
    padding-bottom: 1%;
    padding-top: 2%; }

  /* line 324, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .article--title a, h1 {
    font-family: 'PT Serif', serif; }

  /* line 329, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .article--date {
    color: #510E53;
    font-size: 1.5em; }

  /* line 334, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .article--text {
    font-size: 1.75em;
    padding: 1%; }
    /* line 338, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
    .article--text p a {
      text-decoration: underline;
      color: #360037; }

  /* side bar */
  /* line 347, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .right-nav {
    display: none; }

  /* line 357, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .recent-posts {
    display: none; }

  /* line 361, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .by-year {
    display: none; }

  /* line 365, /home/nikki/Documents/dev/jdax.github.io/source/stylesheets/partials/style.css.scss */
  .tags {
    display: none; } }
