



@font-face {
    font-family: 'eutemia_ornamentsregular';
    src: url('eutemia_ornaments-webfont.woff2') format('woff2'),
         url('eutemia_ornaments-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
