---
layout: layout
blog: blog
---
<div class="blog-body">
<% wrap_layout :layout do %>

      <div class="article">
        <article>
          <h1 class="article--title"><%= current_article.title %> </h1>
          <!-- use article.summary(250) if you have Nokogiri available to show just
               the first 250 characters -->
          <div class="article--date"><%= current_article.date.strftime('%a %x') %></div><br/>
          <div class="article--text">
            <%= yield %>
          </div>
        </article>
      </div>

<% end %> </div>