<div class="mobile_links">
  <div class="mobile_img"><img src="images/commish_nikki.png" alt="Portrait by Kiva Bay">
<div class="article--text"><a href="www.twitter.com/nikkilizmurray"><i class="fa fa-twitter">  </i>
</a> <a href="www.github.com/jdax"><i class="fa fa-github"></i>
  </a><a href="www.linkedin.com/in/nicolelizmurray"> <i class="fa fa-linkedin"></i>
</a></div></div>
</div>