<nav id="primary_nav">
<ul>
  <li><a href="/">Home</a></li>
  <l1><a href="/blog">Blog</a></l1>
  <li><a href="/about_me">About Me</a></li>
  <li><a href="/services">Services</a></li>
  <li><a href="http://dax.cat">My cats</a></li>
  <li><a href="http://dax.codes">Portfolio</a></li>
</ul>
</nav>