<div class="left-nav">

  <div class="header-image">
    <img src="/images/commish_nikki.png" alt="Portrait By Kiva Bay">
  </div>
  <div class="header-text">
    <h1>Nikki Murray</h1> <p>Book reviews, coding thoughts, feminist rants, and occasional cats.</p>
    <div class="article--text">
      <a href="www.twitter.com/nikkilizmurray"><i class="fa fa-twitter">  </i></a>
      <a href="www.github.com/jdax"><i class="fa fa-github"></i></a>
      <a href="www.linkedin.com/in/nicolelizmurray"> <i class="fa fa-linkedin"></i></a>
    </div>
  </div>


  <div class="left-nav-links">
    <ul>
      <li><a href="/about_me">About Me</a></li>
      <li><a href="/books">Books</a></li>
      <li><a href="/coding">Coding</a></li>
      <li><a href="/feminism">Feminism</a></li>
    </ul>
  </div>


  <%= partial "footer" %>
</div>