<div class="left-nav">

      <div class="header-image">
        <img src="/images/commish_nikki.png" alt="Portrait By Kiva Bay">
      </div>
        <h1>Nikki Murray</h1> <p>Book reviews, coding thoughts, feminist rants, and occasional cats.</p>


  <div class="left-nav-links">
            <ul>
                <li><a href="/about_me">About Me</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/coding">Coding</a></li>
                <li><a href="/feminism">Feminism</a></li>
            </ul>
  </div>

  <%= partial "footer" %>
</div>