---
blog: blog
---

<div class="right-nav">
  <div class="promo">
    <a href="http://amzn.to/2zRV6yS">
      <div class="promo-img">
        <%= tag :img, :src => "/images/ALoFaMCover-01.jpg"%>
      </div>
      <br/>
      <p class="promo-text">Click Here to Purchase "A Lake of Feathers and Moonbeams"</p>
    </a>
  </div>

  <div class="promo">
    <a href="http://amzn.to/2hEV8j8">
      <div class="promo-img">
        <%= tag :img, :src => "/images/ResignationLetterCover-01.jpg"%>
        <img src=/>
      </div>
      <br/>
      <p class="promo-text">Click Here to Purchase "The Resignation Letter"</p>
    </a>
  </div>

  <br/>

  <div class="promo-footer"><p>This site uses Amazon Associates</p></div>
  <br>
  <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy Me a Coffee', '#7946b8', 'L3L669PN');kofiwidget2.draw();</script>
</div>