---
blog: blog
---

<div class="right-nav">

      <div class="recent-posts">
        <div><h3 class="panel-title">Recent Writings</h3></div>
      <div>
        <ol>
        <% blog.articles[0...4].each do |article| %>
            <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
        <% end %>
        </ol>
      </div>
    </div>

      <div class="tags">
      <div><h3>Tags</h3></div>
        <div>
      <ol>
        <% blog(blog_name="books").tags.each do |tag, articles| %>
            <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ol>
      </div>
    </div>

  <div class="elsewhere">
    <div>
      <h3>Me, elsewhere</h3>
    </div>
    <div>
      <ul>
        <li><a href="www.twitter.com/nikkilizmurray">Twitter</a></li>
        <li><a href="www.github.com/jdax">Github</a></li>
        <li><a href="www.linkedin.com/in/nicolelizmurray">LinkedIn</a></li>
      </ul>
    </div>
  </div>

      <div class="by-year">
      <div ><h3>By Year</h3></div>
        <div>
      <ol>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
            <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
        <% end %>
      </ol>

    </div>
  </div>
</div>