<div class="header">
  <div class="header-text">
    <div class="pure-g">
      <!--<div class="pure-u-1-4"></div>-->
      <!--<div class="pure-u-1-2">-->
      <!--<a href="/"><h1><span class="ornamental"> < </span>Dax Murray<span class="ornamental"> > </span><div class="ornamental ornamental-margin"> ( </div>-->
      <!--</h1></a> <p>Queer Fantasy and Science Fiction Author.</p> <p></p>-->
      <div class="pure-u-1">
        <a href="http://www.twitter.com/daxaeterna" target="_blank" class="social-icon"><i class="fa fa-twitter">  </i></a>
        <a href="http://www.github.com/jdax" target="_blank" class="social-icon"><i class="fa fa-github"></i></a>
        <a href="http://www.instagram.com/daxaeterna" target="_blank" class="social-icon"><i class="fa fa-instagram">  </i></a>
        <a href="http://www.twitter.com/daxscats" target="_blank" class="social-icon"><i class="fa fa-twitter">  </i></a>
      </div>
      <!--</div>-->
    </div>
    <div class="pure-g">
      <div class="pure-u-1 pure-md-u-1-4"></div>
      <div class="pure-u-1 pure-md-u-1-2">
        <!--<span class="ornamental"> < </span>-->
        <a href="/">Home</a> |
        <a href="/about_me">About</a> |
        <a href="/services">Services</a> |
        <a href="/blog">Blog</a> |
        <a href="/books">Books</a> |
        <a href="http://dax.cat">My cats</a> |
        <a href="http://dax.codes">CV</a>
        <!--<span class="ornamental"> > </span>-->
      </div>
    </div>
  </div>
</div>
</div>
<!--<div class="divider"></div>-->
</div>

