---
layout: layout
title: "About Me"
blog: blog
---
<div class="blog-body">
  <div class="article">
    <div class="article--title"><h1>About Dax Murray:</h1></div>
    <div class="article--text">

      <img src="/images/profile.jpg" style="float:right; border: #BF5FFF 3px solid">
    <p>I am currently a software engineer and web developer, with experience in Ruby, Rails, HTML5, CSS3, JavaScript, PHP, WordPress, React, Ember, Angular, Python, and some Scala. I love building great web app and API's with Ruby, be it Rails, Sinatra, or Haname. I enjoy getting small single page sites up and going with Grunt, Sass, and PureCSS, and also getting great accessible front ends up and ready with React. This website is built using Middleman. I love learning new frameworks and languages. I first learned how to code with HTML, CSS, and Javascript in a high school computer science class, and used these skills through high school and college to maintain websites for groups I was involved with. I taught myself to code in Ruby at night via Treehouse and part time courses at General Assembly, as well as a number of books and online tutorials. I love meetups, and try to attend local tech meet ups as often as possible! I have spoken at Lesbians Who Tech Summit (Berlin, 2015), RubyConf 2015 in San Antonio, and at local meet-ups.</p>

    <p>I have previously done work in the reproductive health, rights, and justice communities. I've done organizing, meeting planning, fundraising and development, peer education, outreach and recruitment, sex ed, peer education, and policy, specifically in the reproductive rights and abortion care fields. I spent several years as a social worker helping low-income people seeking abortion care find abortion providers in their area, and local abortion funds to help them pay for the procedure.</p>

    <p>I attended Allegheny College in Meadville, Pennsylvania, receiving a BA in Political Science (focus area: constitutional law and women in politics), with a minor in Creative Writing (emphasis on women's writing and poetry). I've taken courses in international law at Gannon University, and completed American Universities Washington Semester Program (International Law and Organizations).</p>

    <p>I write about the tech industry, intersectional feminism, and book reviews. My side passion is getting Brigid Project off the ground, what will soon be a non-profit focused on helping people navigate stigmatized services. In my spare time, I enjoy writing science fiction and fantasy. You can find some of my fiction writings on my <a href="https://www.amazon.com/Dax-Murray/e/B01NBYH96N">Amazon Authors Page</a></p>

    <p>I live and work in the DC Metro area with my three cats. I've backpacked across Ireland, and visited Geneva, Brussels, Trier, Berlin, Strasbourg, The Hague, and Luxembourg, with minor pit stops at Heathrow Terminal 5. (Do not make pit stops in Heathrow Terminal 5).</p>

    <p>The portrait for this site and my avatar on other sites was created by <a href="http://www.kivabay.com">Kiva Bay</a>. Please support her work.</p>
  </div>
  </div>

  <div class="article">
    <h1 class="article--title">My comment policy</h1>
    <div class="article--text"><p>I do not host comments here. You are free to comment, critique, or criticize my writings on your own blog, tumblr, twitter, or other platform of your own, provided you link back to the original.</p></div>
</div>

<div class="article">
  <h1 class="article--title">My writings, elsewhere</h1>
  <div class="article--text"><p>I occasionally write in places that aren't here. If you are wanting to enlist me to write for your publication, blog, magazine, or other writing-holding place, please reach out to me on <a href="https://twitter.com/daxaeterna">twitter</a>.</p>

    <ul>
      <li><a href="http://socialdriver.com/2015/05/13/open-source-data-visualization/">Social Driver - Chartkick: The Data Visualization Tool You've Been Waiting For</a></li>
      <li><a href="https://modelviewculture.com/pieces/you-think-youre-helping-the-silencing-of-domestic-violence-victims-on-twitter">Model View Culture - You Think You're Helping: The Silencing of Domestic Violence Survivors</a></li>
    </ul>
    <ul>
      <li><a href="https://modelviewculture.com/pieces/programmer-legitimacy-earned-bought-or-borrowed" target="_blank">Model View Culture - Programmer Legitimacy: Earned, Bought, or Borrowed?</a></li>
      <li><a href="https://modelviewculture.com/news/todo-group-and-open-source-codes-of-conduct">Model View Culture - TODO Group and Open Source Code's of Conduct</a></li>
    </ul>
  </div>
</div>
</div>