---
layout: layout
title: "About Me"
blog: blog
---
<div class="blog-body">
  <div class="article">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-sm-3-4">
        <div class="article--title">
          <h1><span class="ornamental"> < </span>About Dax Murray <span class="ornamental"> > </span></h1>
        </div>
        <div class="article--text">
          <img src="/images/newest_profile.JPG"
               style="float:right;
                       max-width: 35%; height: auto;
                       margin-bottom: 7%;
                       margin-top: 4%;
                       box-shadow: 1px 1px 30px #69065A;
                       border-radius: 5%;
                       transform:          rotate(270deg);
                       transform:          rotate(270deg);
                       -ms-transform:      rotate(270deg);
                       -moz-transform:     rotate(270deg);
                       -webkit-transform:  rotate(270deg);
                       -o-transform:       rotate(270deg);">

          Dax Murray is <a href="http://dax.codes">a software engineer by day</a> but <strike>fights demons</strike>
          writes queer fantasy and science fiction by moonlight. Dax writes worlds where being queer is not remarkable,
          and futures are held in the hands of the many instead of the few. Dax studied political science, music, and creative writing at Allegheny College in Meadville, PA. Fey currently resides in Washington, DC with feir cats
          and feir snakes.
          <br/>
          <br/>
          <img src="/images/kraken.png"
               style="float:right;
                       max-width: 35%; height: auto;
                       margin-bottom: 7%;
                       margin-top: 4%;
                       box-shadow: 1px 1px 30px #69065A;
                       border-radius: 5%;">
          Dax is a member of the
          <a href="https://krackencollectivebooks.com" target="_blank" rel="noopener noreferrer">Kraken Collective.</a>
          The Kraken Collective is an alliance of indie authors who have pooled resources to publish high-quality
          fiction while retaining complete creative control over our stories. We aim to provide a wide variety of
          science fiction and fantasy stories, all starring LGBTQIAP+ characters. From alien hunting lesbians to complex
          political fantasy, The Kraken Collective publishes queer SFF that will blow your mind away and leave you
          craving more.

        </div>

        <div>
          <div class="newsletter">
            <h1><span class="ornamental"> < </span>Join Dax's Newsletter<span class="ornamental"> > </span></h1>

            <h2>Get the latest updates on current projects, upcoming events, <br/>and occasional 'bonus deleted scenes'
              <br/> as well as monthly book giveaways</h2>

            <div style="margin-bottom: 10px;">
              <iframe
              scrolling="no"
              style="width:95%!important;height:220px;border:1px #ccc solid !important; margin: 2.5% !important; background: transparent !important;"
              src="https://buttondown.email/dax?as_embed=true"
              ></iframe>
            </div>
          </div>

        </div>
      </div>


      <!-- book images and links>-->


      <div class="pure-g" style="margin: 15% 30% 10% 0">

        <div class="pure-u-1 pure-u-sm-1-4">
          <div class="promo-bar">
            <div class="promo">

              <a href="/shades_and_silver">
                <div class="promo-img about-img">
                  <%= tag :img, :src => "/images/Shades_and_Silver.jpg" %>
                </div>
                <br/>
              </a>
            </div>
          </div>
        </div>


        <div class="pure-u-1 pure-u-sm-1-4">
          <div class="promo-bar">
            <div class="promo">
              <a href="/birthing-orion">
                <div class="promo-img about-img">
                  <%= tag :img, :src => "/images/birthing-orion-final-cover.png" %>
                </div>
                <br/>
              </a>
            </div>

          </div>
        </div>


        <div class="pure-u-1 pure-u-sm-1-4">
          <div class="promo-bar">
            <div class="promo">
              <a href="/feathers-and-moonbeams">
                <div class="promo-img about-img">
                  <%= tag :img, :src => "/images/ALOFAM_newest_typo.jpg" %>
                </div>
                <br/>
              </a>
            </div>
          </div>
        </div>


        <div class="pure-u-1 pure-u-sm-1-4">
          <div class="promo-bar">
            <div class="promo">
              <a href="/the-magic-surrendered">
                <div class="promo-img about-img">
                  <%= tag :img, :src => "/images/the_magic_surrendered.jpg" %>
                </div>
                <br/>
              </a>
            </div>
          </div>
        </div>
        <br/>

        <br/>

      </div>
    </div>
  </div>

</div>
</div>
