---
layout: layout
title: "About Me"
blog: blog
---
<div class="container-fluid">
  <div class="col-md-8">
<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">About Nikki Murray:</h3>
  </div>
  <div class="panel-body">
    <p/>I am currently a Software Engineer on the Engineering team at Social Driver, a super cool digital agency based out of DC. I taught myself to code at night via Treehouse and part time courses at General Assembly, as well as a number of books and online tutorials. I love meetups, and try to attend local tech meet ups as often as possible! <br/>

    <p/>I have previously done work in the reproductive health, rights, and justice communities. I've done organizing, meeting planning, fundraising and development, peer education, outreach and recruitment, sex ed, peer education, policy, specifically in the reproductive rights and abortion care fields. I spent several years as a social worker helping low-income people seeking abortion care find abortion providers in their area, and local abortion funds to help them pay for the procedure. <br/>

    <p/>I attended Allegheny College in Meadville, Pennsylvania, receiving a BA in Political Science (focus area: constitutional law and women in politics), with a minor in Creative Writing (emphasis on women's writing and poetry). I've taken courses in international at Gannon University, and completed American Universities Washington Semester Program (International Law and Organizations). <br/>

    <p/>I write about the tech industry, intersectional feminism, and book reviews. I am currently building a web app to help promote authors from marginalized communities, and books that feature main characters from marginalized communities. <br/>

    <p/>I code begrudgingly on a Mac, and very lovingly on an Ubuntu machine. I love Sublime Text, but sorry, RubyMine just makes working with legacy code a breeze. I've worked with Ruby, HTML, JavaScript, CSS, and a little Python. I like Rails, Sinatra, Lotus, Middleman, Jekyll for my Ruby. I've worked with AWS S3, Heroku, postgreSQL, Salesforce.com dev, and have contributed to RSpec-Rails.<br/>

    <p/>I live and work in the DC Metro area with my three cats. I've backpacked across Ireland, and visited Geneva, Brussels, Trier, Strasbourg, and Luxembourg, with minor pit stops at Heathrow Terminal 5. (Do not make pit stops in Heathrow Terminal 5).<br/>
  </div>
  </div>
</div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">My comment policy</h3>
      </div>
      <div class="panel-body">
        I do not host comments here. You are free to comment, critique, or criticize my writings on your own blog, tumblr, twitter, or other platform of your own, provided you link back to the original.
      </div>
    </div>
  </div>

  <div class="col-md-4">
  <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">My writings, elsewhere</h3>
      </div>
      <div class="panel-body">

        I occasionally write in places that aren't here. If you are wanting to enlist me to write for your publication, blog, magazine, or other writing-holding place, please use the Contact Me form.<br/>

        <strong>Spring 2015</strong>
        <ul>
          <li><a href="http://socialdriver.com/2015/05/13/open-source-data-visualization/">Social Driver - Chartkick: The Data Visualization Tool You've Been Waiting For</a></li>

          <li><a href="https://modelviewculture.com/pieces/you-think-youre-helping-the-silencing-of-domestic-violence-victims-on-twitter">Model View Culture - You Think You're Helping: The Silencing of Domestic Violence Survivors</a></li>
        </ul>
        &nbsp;

        <strong>Summer 2015</strong>
        <ul>
          <li><a href="https://modelviewculture.com/pieces/programmer-legitimacy-earned-bought-or-borrowed" target="_blank">Model View Culture - Programmer Legitimacy: Earned, Bought, or Borrowed?</a></li>
          <li><a href="https://modelviewculture.com/news/todo-group-and-open-source-codes-of-conduct">Model View Culture - TODO Group and Open Source Code's of Conduct</a></li>
        </ul>

      </div>
    </div>
  </div>

</div>