---
layout: layout
title: "About Me"
blog: blog
---
<div class="blog-body">
  <div class="article">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-sm-3-4">
        <div class="article--title">
          <h1><span class="ornamental"> < </span>About Dax Murray <span class="ornamental"> > </span></h1>
        </div>
        <div class="article--text">
          <img src="/images/profile.jpg" style="float:right; border: #BF5FFF 3px solid">
          Dax Murray is <a href="http://dax.codes">a software engineer by day</a> but <strike>fights demons</strike> writes queer fantasy and science fiction by moonlight. Dax writes worlds where being queer is not remarkable, and futures are held in the hands of the many instead of the few. Dax can often be found listening to the same seven songs on repeat, watching <i>Revolutionary Girl Utena</i>, reading <i>Howl's Moving Castle</i> (again), or playing Rachmoninoff on feir flute. Dax is owned by three cats, two ball pythons, and one Brazilian Rainbow Boa. Dax studied political science, music, and creative writing at Allegheny College in Meadville, PA. Fey currently resides in Washington, DC with feir spouse.
          <!--<p>I am currently a software engineer and web developer, with experience in Ruby, Rails, HTML5, CSS3, JavaScript, PHP, WordPress, React, Ember, Angular, Python, and some Scala. I love building great web app and API's with Ruby, be it Rails, Sinatra, or Haname. I enjoy getting small single page sites up and going with Grunt, Sass, and PureCSS, and also getting great accessible front ends up and ready with React. This website is built using Middleman. I love learning new frameworks and languages. I first learned how to code with HTML, CSS, and Javascript in a high school computer science class, and used these skills through high school and college to maintain websites for groups I was involved with. I taught myself to code in Ruby at night via Treehouse and part time courses at General Assembly, as well as a number of books and online tutorials. I love meetups, and try to attend local tech meet ups as often as possible! I have spoken at Lesbians Who Tech Summit (Berlin, 2015), RubyConf 2015 in San Antonio, AdaConf Open Beta in Sweden, and at local meet-ups. =.</p>-->
          <!--<p>I have previously done work in the reproductive health, rights, and justice communities. I've done organizing, meeting planning, fundraising and development, peer education, outreach and recruitment, sex ed, peer education, and policy, specifically in the reproductive rights and abortion care fields. I spent several years as a social worker helping low-income people seeking abortion care find abortion providers in their area, and local abortion funds to help them pay for the procedure. I have spoken about reproductive health options for people who are low-income at the NAF Annual Meetings 2013 and 2014</p>-->
          <!--<p>I attended Allegheny College in Meadville, Pennsylvania, receiving a BA in Political Science (focus area: constitutional law and women in politics), with a minor in Creative Writing (emphasis on women's writing and poetry). I've taken courses in international law at Gannon University, and completed American Universities Washington Semester Program (International Law and Organizations).</p>-->
          <!--<p>I write about the tech industry, intersectional feminism, and book reviews. My side passion is getting Brigid Project off the ground, what will soon be a non-profit focused on helping people navigate stigmatized services. In my spare time, I enjoy writing science fiction and fantasy. You can find some of my fiction writings on my <a href="https://www.amazon.com/Dax-Murray/e/B01NBYH96N">Amazon Authors Page</a></p>-->

        </div>
        <!--<h1 class="article&#45;&#45;title">My comment policy</h1>-->
        <!--<div class="article&#45;&#45;text">-->
          <!--<p>I do not host comments here. You are free to comment, critique, or criticize my writings on your own blog, tumblr, twitter, or other platform of your own, provided you link back to the original.</p>-->
        <!--</div>-->
        <div><div class="newsletter">
          <h1><span class="ornamental"> < </span>Join Dax's Newsletter<span class="ornamental"> > </span></h1>
          <h2>Get the latest updates on current projects, upcoming events, <br />and occasional 'bonus deleted scenes' <br /> as well as monthly book giveaways</h2>
          <div style="margin-bottom: 10px;">
            <iframe
            scrolling="no"
            style="width:95%!important;height:220px;border:1px #ccc solid !important; margin: 2.5% !important; background: transparent !important;"
            src="https://buttondown.email/dax?as_embed=true"
            ></iframe>
          </div>
        </div>

        </div>
      </div>



    <div class="pure-u-1 pure-u-sm-1-4">

      <div class="promo-bar">
        <div class="promo">
          <a href="https://books2read.com/dax">
            <div class="promo-img">
              <%= tag :img, :src => "/images/newest_alofm_cover.jpg"%>
            </div>
            <br/>
            <p class="pure-button">Purchase "A Lake of Feathers and Moonbeams"</p>
          </a>
        </div>
      </div>

      <div class="promo-bar">
        <div class="promo">
          <a href="https://books2read.com/the-resignation-letter">
            <div class="promo-img">
              <%= tag :img, :src => "/images/resignation_letter_final.jpg"%>
            </div>
            <br/>
            <p class="pure-button">Purchase "The Resignation Letter"</p>
          </a>
        </div>
      </div>
      <br/>

      <div class="promo-footer"><p>This site uses Amazon Associates</p></div>
      <br />
      <!--<div style="margin-bottom: 10px;">-->
        <!--<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy Me a Coffee', '#7946b8', 'L3L669PN');kofiwidget2.draw();</script>-->
        <!--<br />-->
      <!--</div>-->

      <!--<div style="margin-bottom: 10px;">-->
        <!--<iframe-->
        <!--scrolling="no"-->
        <!--style="width:100%!important;height:220px;border:1px #ccc solid !important"-->
        <!--src="https://buttondown.email/dax?as_embed=true"-->
        <!--></iframe><!-->
      <!--</div>-->
    </div>
    </div>
  </div>

  </div>
</div>
