---
layout: layout
title: "Afterimages"
blog: blog

---

<div class="blog-body">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-sm-1-4">
      <div class="promo-bar">
        <div class="promo">
          <div class="promo-img page-promo-img">
            <%= tag :img, :src => "/images/afterimages.png" %>
          </div>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-5-8">
      <h1><span class="ornamental"> < </span>Afterimages<span class="ornamental"> > </span></h1>

      <div class="article--text book-pages" style="font-size: 24px;">
        <b>Stories of identity, doubt, and belonging</b>
        <br/>
        <!--<i>Stories of identity, doubt, and belonging.</i>-->
        <br/>
        The birthright of every Ástfríður is to know each metal in the earth, command it, bend it to their desires. To
        hear metal singing, some of it waiting just beneath the surface, so much of it deeper in the earth. If they
        wanted, they knew they could pluck that metal from the earth, melt it with a thought, and shape it as they
        pleased with a breath of air and their will.
        <br/>
        Each Ástfríður must choose which metal they would wear upon their heads, denoting the path they would walk. They
        craft beautiful horns to wear on their brow, forged with the metal they wish to identify with.
        <br/>
        But Britt does not know if they can choose the path they want, if they can overcome a past which has stolen
        their identity. The day has come for them to choose and they have no idea if they have any right to even try to.
        <br/>
        And Astrid has never felt the pull of the metal at all. Wearing a forged circlet and horn, they try to navigate
        a world that they feel has rejected them, all the while fearing someone will learn their secret.
        <br/>
        The Veil of the Ástfríður has kept them hidden from the world, and safe from intruders. Yet Britt and Astrid
        feel they are imposters in their own homes.
        <br/>

      </div>
      <p>Cover illustrations by <a href="https://merilliza.com">Merilliza Chan</a>
    </div>

    <div class="pure-u-1 pure-u-sm-1-8 page-promo-links">
      <a href="https://www.amazon.com/Afterimages-Dax-Murray-ebook/dp/B08W3R96WJ/"
         class="pure-button"
         target="_blank"
         rel="noopener noreferrer"> kindle
      </a> <br/>
      <a href="https://www.barnesandnoble.com/w/afterimages-dax-murray/1138779596?ean=2940165263064"
         class="pure-button"
         target="_blank"
         rel="noopener noreferrer"> nook
      </a> <br/>
      <a href="https://www.kobo.com/us/en/ebook/afterimages-5"
         class="pure-button"
         target="_blank"
         rel="noopener noreferrer"> kobo
      </a> <br/>
      <a href="https://books.apple.com/us/book/id1552626521"
         class="pure-button"
         target="_blank"
         rel="noopener noreferrer"> apple
      </a> <br/>
      <a href="https://www.thalia.de/shop/home/artikeldetails/ID150900090.html"
         class="pure-button"
         target="_blank"
         rel="noopener noreferrer"> thalia
      </a><br/>
      <a href="http://www.gumroad.com/afterimages-daxmurray"
         class="pure-button"
         target="_blank"
         rel="noopener noreferrer"> gumroad
      </a>
    </div>


  </div>
</div>