---
layout: layout
title: "Birthing Orion"
blog: blog

---
<div class="blog-body">

  <div class="pure-g">
    <div class="pure-u-1 pure-u-sm-1-4">
      <div class="promo-bar">
        <div class="promo">
          <div class="promo-img page-promo-img">
            <%= tag :img, :src => "/images/birthing-orion-final-cover.png" %>
          </div>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-5-8">
      <h1><span class="ornamental"> < </span>Birthing Orion<span class="ornamental"> > </span></h1>

      <div class="article--text book-pages" style="font-size: 24px;">
        <b>Too fondly have I loved these stars;<br/>
          all these galaxies we once called ours.</b>
        <br/>
        <br/>
        <i>A beautiful love story in verse.</i>
        <br/>
        <br/>
        The relationship between two goddesses is tempestuous at best. Seya is the embodiment of a galactic creation and
        Tia of cosmic destruction. They create and they destroy and then they do it all over again. Seya and Mia use
        their divine magic to make pulsars and nebula, to set planets spinning around stars and bind a galaxy together
        with a central black hole.
        <br/>
        <br/>
        But when one of Seya's favorite stars goes missing, she blames Mia. What was once a symbiotic cycle of life and
        death becomes a game of broken hearts and promises betrayed. These tensions and insecurities are explored in
        sonnets and villanelles; the arc of their love tracked in meter and verse. These poems touch on queer love,
        betrayal, trust, acceptance, and forgiveness cast against a backdrop of stardust and celestial detritus.
        <br/>
        <br/>
      </div>
      <p>Cover design and illustrations by <a href="https://merilliza.com">Merilliza Chan</a>, interior design by
        <a href="https://prettyafdesigns.com">Aurelia Fray</a>.</p>


    </div>

    <div class="pure-u-1 pure-u-sm-1-8 page-promo-links">


      <a href="https://www.amazon.com/gp/product/B07FQR6Z8L"
         class="pure-button"
         target="_blank"
         rel="noopener noreferrer"> kindle
      </a> <br/>
      <!--<a href="https://books2read.com/u/mZPdB5?store=bn"-->
         <!--class="pure-button"-->
         <!--target="_blank"-->
         <!--rel="noopener noreferrer"> nook </a> <br/>-->
      <!--<a href="https://www.kobo.com/us/en/ebook/birthing-orion"-->
         <!--class="pure-button"-->
         <!--target="_blank"-->
         <!--rel="noopener noreferrer"> kobo-->
      <!--</a><br/>-->
      <!--<a href="https://books.apple.com/us/book/id1445935148"-->
         <!--class="pure-button"-->
         <!--target="_blank"-->
         <!--rel="noopener noreferrer"> apple-->
      <!--</a><br/>-->
      <!--<a href="https://www.scribd.com/book/391188782/Birthing-Orion"-->
         <!--class="pure-button"-->
         <!--target="_blank"-->
         <!--rel="noopener noreferrer"> scribd-->
      <!--</a><br/>-->
      <!--<a href="https://www.thalia.de/shop/home/artikeldetails/ID140188861.html"-->
         <!--class="pure-button"-->
         <!--target="_blank"-->
         <!--rel="noopener noreferrer"> thalia </a><br/>-->
      <!--<a href="https://www.vivlio.fr/ebooks/birthing-orion-9781386746652_9781386746652_10020.html"-->
         <!--class="pure-button"-->
         <!--target="_blank"-->
         <!--rel="noopener noreferrer"> vivlio </a><br/>-->
      <!--<a href="https://www.bol.de/shop/home/artikeldetails/ID140188861.html"-->
         <!--class="pure-button"-->
         <!--target="_blank"-->
         <!--rel="noopener noreferrer"> bol.de-->
      <!--</a>-->
    </div>

  </div>


</div>
</div>


