---
layout: layout
title: "Books"
blog: blog

---
<div class="blog-body">

  <div class="pure-g">
    <div class="pure-u-1 pure-u-sm-1-4">
      <div class="promo-bar">
        <div class="promo">
          <a href="http://amzn.to/2zRV6yS">
            <div class="promo-img">
              <%= tag :img, :src => "/images/A Lake of Feathers_5c.jpg"%>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-3-4">
      <h1><span class="ornamental"> < </span>A Lake of Feathers and Moonbeams<span class="ornamental"> > </span></h1>
      <div class="article--text" style="font-size: 24px;">
        <b>How many half-truths could loyalty shoulder before it broke from the weight of deception on its back?</b>
        <br/>
        <i>A sweeping LGBTQ and polyamorous retelling of "Swan Lake"!</i>
        <br/>
        Strange things can be said of the forest that spans the border of two kingdoms long at war. An evil sorcerer has made it his dominion, or an elegant enchantress has claimed it as her domain and grants wishes to those who chance upon her, or maybe the forest is guarded by an ancient and wrathful spirit.
        <br/>
        But Katya calls the forest home, living a life of magic and charms with her partner Ivan. But a threat looms over their forest, some darkness and danger that Ivan swears to protect her from. Katya finds herself caught up in a web of grudges and deception spanning generations, but most dangerous of all is the beautiful princess who stumbled into their woods. A princess who sets Katya’s heart fluttering with both desire and fear.
        <br/>
        As forces rally to rescue the princess or go to war, Katya must take measure of her own powers and decide what she is willing to sacrifice. Will she retreat to the safety of what's familiar or give up everything she knows to spread her wings and fly?
      <br />
        <a href="https://books2read.com/dax" class="pure-button"> Purchase </a>
        <br />
        <i>Download the first chapter for free!</i>
        <br />
        <a href="/files/A_Lake_of_Feathers_and_Moonbeams-Excerpt.mobi" download="a_lake_of_feathers_and_moonbeams_sample" class="pure-button"> download as .mobi!</a>
        <a href="/files/A_Lake_of_Feathers_and_Moonbeams-Excerpt.epub" download="a_lake_of_feathers_and_moonbeams_sample" class="pure-button"> download as .epub!</a>
        <a href="/files/A_Lake_of_Feathers_and_Moonbeams-Excerpt.pdf" download="a_lake_of_feathers_and_moonbeams_sample" class="pure-button"> download as .pdf!</a>
      </div>
      <p>Cover design and illustrations by <a href="https://layroseart.com">Laya Rose</a>, interior design by <a hre="https://prettyafdesigns.com">Aurelia Fray</a>, edited by <a href="http://www.clearingblocksediting.com/">Jen of Clearing Blocks Editing</a></p>
    </div>

  </div>


<div class="pure-g">
  <div class="pure-u-1 pure-u-sm-1-4">
    <div class="promo-bar">
      <div class="promo">
        <a href="http://amzn.to/2hEV8j8">
          <div class="promo-img">
            <%= tag :img, :src => "/images/resignation_letter_final.jpg"%>
          </div>
          <br/>
        </a>
      </div>
    </div>
    </div>
  <div class="pure-u-1 pure-u-sm-3-4">
    <h1><span class="ornamental"> < </span>The Resignation Letter<span class="ornamental"> > </span></h1>
    <h2><i>A short story about a brilliant mage and an insecure empress</i></h2>
    <div class="article--text" style="font-size: 24px;">
      After generations of relentless expansion, the Empress rEleanor is ready to put her family's habit for conquest behind her, content to cease her army's forward march and solidify her position as the ruler of the territories already in her possession. But these countries her fathers' conquered are eager to leave the Empire, and willing to resort to revolution <br />
      Amalthea grew up poor, her homeland destitute after being invaded and occupied. But her new status as a citizen of the sparkling empire gives her access to the Academy of Mages. And the Empress. But once there, she defies their rules and persues her own experiments with dengerous and forbidden magics. Despite this, she catches the Empress's eye, and is soon the first official Imperial Scientist. <br />
      Together, the two have the power to sow cohesion, innovation, and improve the lives of everyone in the Empire, or they could obliterate any resistance at a perilous cost.
      <br />
      <a href="https://books2read.com/the-resignation-letter" class="pure-button"> Purchase </a>
    </div>
    <p>Cover by <a href="https://layroseart.com">Laya Rose</a>, edited by <a href="http://www.kathowardbooks.com/editing/">Kat Howard</a></p>
  </div>
  </div>


    <div class="promo-footer"><p>This site uses Amazon Associates</p></div>


  </div>
</div>