---
layout: layout
title: "A Lake of Feathers and Moonbeams"
blog: blog

---
<div class="blog-body">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-sm-1-4">
      <div class="promo-bar">
        <div class="promo">
            <div class="promo-img page-promo-img">
              <%= tag :img, :src => "/images/ALOFAM_newest_typo.jpg"%>
            </div>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-5-8">
      <h1><span class="ornamental"> < </span>A Lake of Feathers and Moonbeams<span class="ornamental"> > </span></h1>
      <div class="article--text book-pages" style="font-size: 24px;">
        <br />
        <b>How many half-truths could loyalty shoulder before it broke from the weight of deception on its back?</b>
        <br />
        <br />
        <i>A sweeping LGBTQ and polyamorous retelling of "Swan Lake"!</i>
        <br />
        Strange things can be said of the forest that spans the border of two kingdoms long at war. An evil sorcerer has made it his dominion, or an elegant enchantress has claimed it as her domain and grants wishes to those who chance upon her, or maybe the forest is guarded by an ancient and wrathful spirit.
        <br />
        <br />
        But Katya calls the forest home, living a life of magic and charms with her partner Ivan. But a threat looms over their forest, some darkness and danger that Ivan swears to protect her from. Katya finds herself caught up in a web of grudges and deception spanning generations, but most dangerous of all is the beautiful princess who stumbled into their woods. A princess who sets Katya’s heart fluttering with both desire and fear.
        <br />
        <br />
        As forces rally to rescue the princess or go to war, Katya must take measure of her own powers and decide what she is willing to sacrifice. Will she retreat to the safety of what's familiar or give up everything she knows to spread her wings and fly?
        <br />
        <br />

      </div>
      <p>Cover design and illustrations by <a href="https://layroseart.com">Laya Rose</a>, interior design by <a href="https://prettyafdesigns.com">Aurelia Fray</a>, edited by <a href="http://www.clearingblocksediting.com/">Jen of Clearing Blocks Editing</a></p>
    </div>

   <div class="pure-u-1 pure-u-sm-1-8 page-promo-links">
    <a href="https://www.amazon.com/Afterimages-Dax-Murray-ebook/dp/B08W3R96WJ/"
       class="pure-button"
       target="_blank"
       rel="noopener noreferrer"> kindle
    </a><br >
    <a href="https://www.barnesandnoble.com/w/a-lake-of-feathers-and-moonbeams-dax-murray/1128933687/"
       class="pure-button"
       target="_blank"
       rel="noopener noreferrer"> nook
    </a> <br />
     <a href="https://books.apple.com/us/book/id1439760650"
        class="pure-button"
        target="_blank"
        rel="noopener noreferrer"> apple
     </a> <br />
    <a href="https://www.kobo.com/us/en/ebook/a-lake-of-feathers-and-moonbeams"
       class="pure-button"
       target="_blank"
       rel="noopener noreferrer"> kobo
    </a> <br />
    <a href="https://www.scribd.com/book/391298780/A-Lake-of-Feathers-and-Moonbeams"
       class="pure-button"
       target="_blank"
       rel="noopener noreferrer"> scribd
    </a> <br />
    <a href="https://www.thalia.de/shop/home/artikeldetails/ID128119026.html"
       class="pure-button"
       target="_blank"
       rel="noopener noreferrer"> thalia
    </a> <br />
     <a href="     https://www.vivlio.fr/ebooks/a-lake-of-feathers-and-moonbeams-9780692142431_9780692142431_10020.html"
        class="pure-button"
        target="_blank"
        rel="noopener noreferrer"> vivlio
     </a> <br />
     <a href="https://gumroad.com/dax"
        class="pure-button"
        target="_blank"
        rel="noopener noreferrer"> Gumroad </a> <br />

    <br />
    <i>Download the first chapter for free!</i>
    <br />
    <a href="/files/A_Lake_of_Feathers_and_Moonbeams-Excerpt.mobi" download="a_lake_of_feathers_and_moonbeams_sample" class="pure-button page-promo-links"> download as .mobi!</a> <br />
    <a href="/files/A_Lake_of_Feathers_and_Moonbeams-Excerpt.epub" download="a_lake_of_feathers_and_moonbeams_sample" class="pure-button page-promo-links"> download as .epub!</a> <br />
    <a href="/files/A_Lake_of_Feathers_and_Moonbeams-Excerpt.pdf" download="a_lake_of_feathers_and_moonbeams_sample" class="pure-button page-promo-links"> download as .pdf!</a>
   </div>

  </div>
</div>