---
layout: layout
blog: blog
title: "Index"
pageable: true
per_page: 10
---

<div class="blog-body">
  <div class="out-now">
    <h1><span class="ornamental"> < </span>Out Now<span class="ornamental"> > </span></h1>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-sm-1-4"></div>
      <div class="pure-u-1 pure-u-sm-1-4">
        <div class="promo-bar">
          <div class="promo">
            <a href="http://amzn.to/2zRV6yS">
              <div class="promo-img">
                <%= tag :img, :src => "/images/ALoFaMCover-01.jpg"%>
              </div>
              <br/>
              <p class="promo-text">"A Lake of Feathers and Moonbeams"</p>
            </a>
            <a href="/files/chapter_one_a_lake_of_feathers_and_moonbeams.pdf" download="dax_murray_feathers_sample" class="pure-button">Download the 1st chapter free!</a>
          </div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-sm-1-4">
        <div class="promo-bar">
          <div class="promo">
            <a href="http://amzn.to/2hEV8j8">
              <div class="promo-img">
                <%= tag :img, :src => "/images/ResignationLetterCover-01.jpg"%>
              </div>
              <br/>
              <p class="promo-text">"The Resignation Letter"</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="landing-bio">-->
    <!--<div class="pure-g">-->
      <!--<div class="pure-u-1 pure-u-sm-1-4"></div>-->
      <!--<div class="pure-u-1 pure-u-sm-1-4">-->
        <!--<img src="/images/profile.jpg" style="border: #BF5FFF 3px solid">-->
      <!--</div>-->
      <!--<div class="pure-u-1 pure-u-sm-1-2">-->
        <!--<p class="landing-bio-text" style="font-size: 28px;">Dax enjoys getting lost in Eorzea, playing "Rey's Theme" ad naseum on feir flute, reading queer fantasy books, and hacking in Ruby. Dax lives in the DC Metro area with feir snakes, feir cats, and feir spouse.</p>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

  <div class="newsletter">
    <h1>Join Dax's Newsletter</h1>
    <h2>Get the latest updates on current projects, upcoming events, <br />and occasional 'bonus deleted scenes'<br /> as well as monthly book giveaways</h2>
    <div style="margin-bottom: 10px;">
      <iframe
      scrolling="no"
      style="width:95%!important;height:220px;border:1px #ccc solid !important; margin: 2.5% !important; background: transparent !important;"
      src="https://buttondown.email/dax?as_embed=true"
      ></iframe>
    </div>
  </div>
</div>