---
layout: layout
title: "Services"
blog: blog
---

<div class="blog-body">
    <div class="article">
        <div class="article--title"><h1>Services</h1></div>
        <div class="article--text">

<h3>Coding</h3>
<p>I offer my services as a freelance coder to individuals or social good organizations who use tech to combat prejuidice is systemic violence. I specialize in<p>
    <ul>
    <li>Ruby</li>
    <li>Rails</li>
    <li>Javascript</li>
</ul>
<p>I can provide you with a quick prototype application that you can use to demonstrate an idea and get a project off the ground quickly, I can set up a static website using Jekyll or Middleman, and help you customize it to suit your needs. My rate for these services is $100/ hr, but I offer discounts, too.</p>
<p>I ask that you contact me at least 3 months before you would like to see your work finished to give me ample time to work with you on if I am the best fit for you, and if so, to get a good feel of what the minimum viable product looks like.</p>
<p>When contacting me about this, please include deadlines, the main problem you are hoping to address (ex: I don't have a good website to promote my new non-profit), and what goals you have. Write up core solutions you are looking for, and what are your must-haves. I can then get back to you with an estimate in the time it will take for me to complete, and how many billable hours that will be.</p>
<p>Please note, I am not a designer. If you also hire a freelance designer, please let me know so that I may work collaboratively with them. If you have branded assets already, I will ask that you provide them to me so that I can make sure they are used appropriately in the app or site.</p>
            <p> A note to recruiters: I am not currently looking for full time opportunities. Inquiries of this sort will be ignored.</p>
<h3>Sensitivity reader</h3>
<p>I offer my services as a freelance sensitivity reader to both traditionally published and self published writers. I am able to read for the following issues:</p>
<ul>
    <li>Queer identities</li>
    <li>Bisexuality</li>
    <li>Genderqueer</li>
    <li>Polyamory</li>
    <li>Auto-immune issues</li>
    <li>Traumatic brain injuries / concussions</li>
    <li>Growing up poor</li>
    <li>Homelessness</li>
    <li>Abortion</li>
    <li>Eating disorders (anoerexia)</li>
    <li>C-PTSD, Anxiety, Depression</li>
    <li>Intimate Partner Violence</li>
</ul>
<p>My prices for these services are dependent on word count. I ask a base $50 for the first 5,000 words. For every word after that I charge an additional $0.0025, rounded up to the nearest cent. I ask that slots be booked at least 1 month in advance, and if my slots are full, I will ask if you can wait an additional month, or refer you to someone else whom I know does good work. Payment is due when services are rendered. I ask for payment by Venmo or Paypal.</p>
<p>I will read your work for one, or more, focus area's. Please specify in your request which area's you are looking for in your request. If I notice something glaring in an area you did not list, I will probably still point it out, but only if it is hugely glaring. After I have read your work, I will provide a detailed report which will include phrases, words, passages that I found and some small suggestions on ways you might be able to fix this.</p>
<p>My agreement to sensitivity reading is not a guarantee that your works will be free from all biases, and I request that you not use my name as a defense of other peoples criticisms. I am one person, and I can miss things, though I will try my best not to. I will not disclose details about your work to anyone prior to your publication of it. If I need to consult with someone else, I will ask you first if I may do so.</p>
<p>I prefer to read YA, fantasy, and science fiction. If you are writing in another genre, please let me know. I can read the first 15% of your work and provide initial feedback for free and see if I can provide the kind of feedback you need, or I can refer you elsewhere.</p>

          <h4>Let's start the conversation</h4>


          <form class="pure-form" action="https://formspree.io/dax@dax.codes"
                method="POST">
            <fieldset>
              <select type="select" name="servicetype">
                <option value="coding">Coding</option>
                <option value="reading" selected>Reading</option>
              </select>
              <br/>
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="_replyto" placeholder="Email address">

            <textarea name="text" placeholder="Your request" wrap="soft"></textarea>
              <br/>
            <button class="pure-button pure-button-primary" type="submit" value="Send">Send</button>
            <input type="hidden" name="_next" value="http://daxmurray.com/thanks" />
            <input type="hidden" name="_subject" value="New submission!" />
            <input type="text" name="_gotcha" style="display:none" />
            </fieldset>
          </form>

        </div>
    </div>
</div>
