---
layout: layout
title: "Thanks"
blog: blog
---
<div class="blog-body">
    <div class="article">
        <div class="article--title"><h1>Thanks!</h1></div>
        <div class="article--text">
            Thanks for getting in touch with me. I usually respond within two business days to all queries. If you have not heard from me by then, please check your spam filter, and then re-submit through the form.
        </div>
    </div>
</div>