---
layout: layout
title: "The Magic Surrendered"
blog: blog

---
<div class="blog-body">


  <div class="pure-g">
    <div class="pure-u-1 pure-u-sm-1-4">
      <div class="promo-bar">
        <div class="promo">
          <div class="promo-img page-promo-img">
            <%= tag :img, :src => "/images/the_magic_surrendered.jpg" %>
          </div>
          <br/>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-sm-5-8">
      <h1><span class="ornamental"> < </span>The Magic Surrendered<span class="ornamental"> > </span></h1>

      <h2><i>A short story about a brilliant mage and an insecure empress</i></h2>

      <div class="article--text book-pages" style="font-size: 24px;">
        After generations of relentless expansion, the Empress rEleanor is ready to put her family's habit of conquest
        behind her, content to cease her army's forward march and solidify her position as the ruler of the territories
        already in her possession. But these countries her fathers' conquered are eager to leave the Empire, and willing
        to resort to revolution <br/>
        Amalthea grew up poor, her homeland destitute after being invaded and occupied. But her new status as a citizen
        of the sparkling empire gives her access to the Academy of Mages. And the Empress. But once there, she defies
        their rules and pursues her own experiments with dangerous and forbidden magics. Despite this, she catches the
        Empress's eye, and is soon the first official Imperial Scientist. <br/>
        Together, the two have the power to sow cohesion, innovation, and improve the lives of everyone in the Empire,
        or they could obliterate any resistance at a perilous cost.
        <br/>


      </div>
      <p>Cover by <a href="https://layroseart.com">Laya Rose</a>, edited by
        <a href="http://www.kathowardbooks.com/editing/">Kat Howard</a></p>
    </div>
    <div class="pure-u-1 pure-u-sm-1-8 page-promo-links">
      <a href="https://www.amazon.com/gp/product/B01MS9NU7F"
         class="pure-button"
         target="_blank"
         rel="noopener noreferrer"> kindle
      </a>
      <!--<a href="https://www.barnesandnoble.com/w/the-resignation-letter-dax-murray/1129769343"-->
         <!--class="pure-button"-->
         <!--target="_blank"-->
         <!--rel="noopener noreferrer"> nook-->
      <!--</a>-->
      <!--<a href="https://www.kobo.com/us/en/ebook/the-resignation-letter"-->
         <!--class="pure-button"-->
         <!--target="_blank"-->
         <!--rel="noopener noreferrer"> kobo-->
      <!--</a>-->
      <!--<a href="https://www.scribd.com/book/391296557/The-Resignation-Letter"-->
         <!--class="pure-button"-->
         <!--target="_blank"-->
         <!--rel="noopener noreferrer">-->
        <!--scribd </a>-->
      <!--<a href=https://www.24symbols.com/book/x/x/x?id=2954312"-->
         <!--class="pure-button"-->
         <!--target="_blank"-->
         <!--rel="noopener noreferrer"> 24s-->
      <!--</a>-->
      <!--<a href=https://www.thalia.de/shop/ebooks/suchartikel/x/x/EAN9781386636694/"-->
         <!--class="pure-button"-->
         <!--target="_blank"-->
         <!--rel="noopener noreferrer"> thalia-->
      <!--</a>-->
      <!--<a href="https://www.gum.co/the-resignation-letter"-->
         <!--class="pure-button"-->
         <!--target="_blank"-->
         <!--rel="noopener noreferrer"> gumroad-->
      <!--</a>-->


    </div>

  </div>
</div>


</div>
</div>